
* {
    margin: 0px;
    padding: 0px;
    font-family: Bradley Hand, cursive;
    font-weight: 500;
    font-style: cursive;
}

body {
    background-color: #F2DBAE;
    overflow-x: hidden;
    height: auto;
}
.welcome-text {
    align-content: center;
    text-align: center;
    color: black;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 6vw;
}
.adding-task input {
    border: 2px solid #8C9C88;
    border-radius: 10px 10px 10px 10px;
    height: 40px;
    width: 80%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 15%;
    color: black;
    outline: none;
    outline: -webkit-focus-ring-color auto 0px;
}
.adding-task input:focus {
    outline: none;
    outline: -webkit-focus-ring-color auto 0px;
    border: 2px solid #f22b27;
}
.addButton {
    position: relative;
    height: 40px;
    width: 50px;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid #8C9C88;
    background-size: cover;
}
.addButton:hover {
    border: 2px solid #f22b27;
}
.addButton img{
    width: 20px;
    height: 20px;
    background-size: cover;
}
.todo-text {
    align-content: center;
    text-align: center;
    color: black;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 6vw;
}
ul li {
    list-style: none;
}
.remember-text {
    text-align: center;
    color: black;
}
.list-group {
    background-color: #F2DBAE;
}
.list-group-item {
    position: relative;
    text-align: center;
    background-color: white;
    font-size: 1.2rem;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid #8C9C88;
}
.edit {
    background-color: dodgerblue;
}
.checked {
    background-color: #8C9C88;
}
.deleted {
    background-color: #f22b27;
}
.btn {
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.fa-pencil-alt,
.fa-check-square,
.fa-trash-alt {
    pointer-events: none;
}



@media screen and (max-width: 581px) {
    
    .addButton {
        position: relative;
        margin-left: 45%;
        margin-top: 3%;
    }
    .todo-text {
        align-content: center;
        text-align: center;
        color: black;
        margin-top: 15%;
        margin-bottom: 5%;
        font-size: 6vw;
    }
    .adding-task input {
        margin-left: 10%;

    }
    .list-group {
        position:relative;
        margin-left: 2%;
        margin-right: 2%;    
    }
    .btn {
        padding: 12px 8px;
    }
 
    
}
